{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/utils.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile.css')}}">
{% endblock %}

{% block body %}
<nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a href="/">
                <span><img src="{{ url_for('static',filename='img/logo.png')}}" width="94px" alt=""></span>
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/createpost">Create Post</a></li>
            </ul>
        </div>

    </nav>
    <div class="max-width-1 m-auto">
        <hr>
    </div>
    <div class="contact-content font1 max-width-1 m-auto">
        <div class="max-width-1 m-auto mx-1">
            <h2>Feel Free to Contact Me</h2>
            <form class="contact-form" action="/contact" method="POST">
                <div class="form-box">
                    <input type="text" name="name" placeholder="Enter Your Name">
                </div>
                <div class="form-box">
                    <input type="text" name="number" placeholder="Enter Your Phone Number">
                </div>
                <div class="form-box">
                    <input type="text" name="emailid" placeholder="Enter Your Email Id">
                </div>
                <div class="form-box">
                    <textarea name="msgtext" id="" cols="30" rows="10" placeholder="How may we help you?"></textarea>
                </div>
                <div class="form-box">
                    <button class="btn" action="/contact" method="POST">SEND</button>

            </form>
        </div>

    </div>
    <br>
    <div class="footer">
        <p>Copyright &copy; iBlog.com </p>
          
    </div>
{% endblock %}